@media screen and (max-width: 395px) {
    #cover, #cover img {
        width: 200px;
        height: 200px;
    }

    #artist img {
        width: 25px;
        height: 25px;
    }

    #artist h4 {
        font-size: small;
    }

    .scritta {
        font-size: smaller;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1;
    }

    main {
        margin-bottom: 130px;
    }
}



@media screen and (min-width: 396px) {
    #cover, #cover img {
        width: 300px;
        height: 300px;
    }

    #artist img {
        width: 30px;
        height: 30px;
    }
    #artist h4 {
        font-size: small;
    }

    h1 {
        font-size: 70px;
    }
}